<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0">
    <servers>
        <server>
            <id>nexus-snapshot</id>
            <username>admin</username>
            <password>${env.NEXUS_PASSWORD}</password>
        </server>
        <server>
            <id>nexus-release</id>
            <username>admin</username>
            <password>${env.NEXUS_PASSWORD}</password>
        </server>
        <server>
            <id>packagecloud.release</id>
            <password>${env.PACKAGECLOUD_PASSWORD}</password>
        </server>
        <server>
            <id>packagecloud.snapshot</id>
            <password>${env.PACKAGECLOUD_PASSWORD}</password>
        </server>
    </servers>
</settings>